


.Carrinho .Elementos {
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    align-items: center;
}

.Carrinho .Elementos img{
    height: 150px;
}

.Carrinho .Elementos p {
    max-width: 400px;
}

.Carrinho .Guia{
    font-size: 20px;
    font-family: arial;
    display: flex;
    justify-content:space-between;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}
.Carrinho .Guia2{
    display: flex;
    justify-content:space-between;
    margin-right: 58px;

}
.Carrinho .Descricao{
    font-family: arial;
    font-size: 17px;
    width: 100px;
}

.Carrinho{
    text-align: center;
}

.Carrinho .quantidade{
    font-family: arial;
    font-size: 17px; 
}

.Carrinho .quantidade button{
    border-radius: 7px;
    background: rgb(255, 255, 255);
}



.Carrinho .quantidade{
    margin-left: 150px;
}

.Carrinho .preco{
    margin-left: 300px;
}

.Carrinho .remover button {
    border-radius: 7px;
    background-color: orange;
    border: none;
    height: 40px;
}

.Carrinho .imagem {
    max-width: 150px;
}
