.Inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
  }

.Inicio  .Container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
  }

.Inicio .CardProduto {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 10px;
    width: 300px;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.Inicio .CardProduto:hover #Descricao {
        display: block;
        color: gray;
}

#Descricao {
  display: none;
  transition: 0.9s;
}

.Inicio .CardProduto:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
.Inicio .CardProduto p {
    font-size: 16px;
  }
   
.Inicio .Imagem {
    width: 100%;
    height: 180px;
}
.Inicio .Link {
  text-decoration: none;
}

.Inicio .preco {
  color: red;
}

.Inicio .textoCard {
  color: gray;
  font-size: 30px;
}

   
.Inicio .CardProduto img {
    width: 100%;
}
