.Login{
   text-align: center;
}

.ContainerLogin {

    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background: #f1f2f3;
    width: 600px;
    padding: 80px 120px ;
}

.ContainerLogin input {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 98%;
    text-align: center;
}

.Botoes button {
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
}
.Botao1{
    background-image: linear-gradient(to top, #f3951a, #f1b23c );
}

.Botao2{
    background-image: linear-gradient(to top, #c7c3bf, #fffbf5 );
}