.Menu {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top, #1cc4a8, #027d86 );
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    height: 130px;
    align-items: center;
}

.editar1{
    list-style-type: none;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    background: rgb(183, 222, 224);
    
}

.Menu img {
height: 300px;
border-radius: 10px;
}

.Menu button{
    border-radius: 10px;
}
