.Menu {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top, #c9bd1a, #b721ff );
    padding: 10px;
    
}

.editar1{
    list-style-type: none;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    background: rgb(183, 222, 224);
    
}

.Menu img {
height: 100px;
}

.Menu button{
    border-radius: 10px;
}
