
header .começo{
    display: flex;
    align-items:center;
    justify-content: space-around;
}

div .container-a .container-b{
    width: 145px;
    height: 135px;
    display: inline-block;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    
}
#container-a{
    background-color: rgb(102, 94, 94);

}
#container-b{
    background-color: rgb(178, 178, 194);
    width: 370px;
}    
footer {
    background-color: rgb(102, 94, 94);
    width: 2500px;
    height: 80px;
    padding-top: 80px;
    border-radius: 3px;
    color: white;
}

.Informacao {
    display: flex;
    justify-content:space-between;
    font-size: 20px;
    font-family: arial;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.Elementos img{
    height: 150px;
    width: 150px;
}

.Elementos {
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    align-items: center;
}
.Descrição{
    font-family: arial;
    font-size: 17px;
    width: 970px;
}