.Container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.BlocoDireito {
    background-color: yellow;
    width: 100%;
  
}

.BlocoEsquerdo {
    background-color: blue;
    width: 100%;
}

.ImagemPrincipal {
    width: 300px;
    border: 1px solid black;
    left: 10px;
    border-radius: 10px;
}
